@(key: Option[String], message: Option[String], cipher: Option[String], info: List[(String, String)])

@main("Break") {

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Enter key and cipher text to decode</h3>
    </div>
    <div class="panel-body">
        <form role="form" action="/break" method="post">
            <div class="form-group">
                <label for="cipher">Cipher (HEX)</label>
                <textarea class="form-control" name="cipher" rows="8" id="cipher">@cipher.orNull</textarea>
            </div>
            <button type="submit" class="btn btn-default">Break</button>
        </form>
    </div>
</div>
@if(key.isDefined || info.nonEmpty) {
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Decoded result</h3>
    </div>
    <div class="panel-body">
        <form role="form" id="encodeForm">
            @for((name, text) <- info) {
            <div class="form-group">
                <label for="keyLength">@name</label>
                <pre>@text</pre>
            </div>
            }
            <div class="form-group">
                <label for="key">Key</label>
                <input type="text" name="key" class="form-control" id="key" value="@key.orNull">
            </div>
            <div class="form-group">
                <label for="message">Message text</label>
                <textarea class="form-control" name="message" rows="8" id="message">@message.orNull</textarea>
            </div>
        </form>
    </div>
</div>
}

}
